
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.head{
  text-align: center;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: black;
  color: snow;

  align-items: center;
}
.calculator {
  width: 400px;
  padding: 1.2em;
  display: flex;
  flex-direction: column;
}
.operand {
  background-color: black;
  font-weight: 500;
  font-size: 1.4rem;
  border: none;
  outline: none;
  padding: 1.5em;
  /* margin-top: 10em; */
  text-align: end;
  color: snow;

}
.prev-operand{
    padding: 1.3em;
      font-weight: 400;
  font-size: 1rem;
}
button {
  background-color: #333;
  /* padding: 2em;
   */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  outline: none;
  color: snow;
  cursor: pointer;
  border: none;
  margin: 10px;
  font-weight: 600;
  font-size: 1.05rem;
}
.AC {
  display: block;
}
.btns {
  text-align: center;
}
.bg-grey {
  background-color: rgb(179, 173, 173);
  color: #333;
}
.operator {
  background-color: rgb(194, 131, 4);
}
.zero-btn {
  width: 140px;
  border-radius: 30px;
}
